.container-fluid{
   text-align: center;
}
.card{
   top: 30px;  
   align-items: center;
   margin: auto;
   padding: 30px;
   width: 65rem;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.box-body{
  padding: 10px;
   
}
.box-header > h3{
    margin: auto;
  
}

@media screen and (max-width: 600px) {



}
